<div class="component diagnostic-quiz" ng-app="quizFramework">

    <div class="container">

      <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive" class="landing">

        <div class="header-toolbar"></div>

        <button class="btn" ng-click="list.activateQuiz()">Click here to start</button>

      </div><!-- LIST CONTROLLER -->

      <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive" class="quiz">

        <div class="header-toolbar">
          <p class="back"
            ng-show="quiz.back"
            ng-click="quiz.backQuestion($index)">
            <span>&#60;</span>Back
          </p>
          <p class="step">
            <span>Step</span>
            {{quiz.activeQuestion+1 + "/" + quiz.dataService.JSONQuizData.length}}
          </p>
        </div>

        <ul class="progress-toolbar">
          <li ng-repeat="question in quiz.dataService.JSONQuizData">
            <button class="btn progressBtn"
              ng-class="{'btn-progress': quiz.forwardProgress()}">
            </button>
          </li>
        </ul>

      <div class="inner-container">

        <div class="question">
          <p class="heading">{{quiz.dataService.JSONQuizData[quiz.activeQuestion].titleText}}</p>
          <img ng-if="quiz.dataService.JSONQuizData[quiz.activeQuestion].titleImage !== null"
               ng-src="{{quiz.dataService.JSONQuizData[quiz.activeQuestion].titleImage}}">
        </div>

        <div class="row">

          <ul class="answer"
            ng-repeat="answer in quiz.dataService.JSONQuizData[quiz.activeQuestion].possibilities"
            ng-if="quiz.dataService.JSONQuizData[quiz.activeQuestion].type === 'text'">

            <li class="col-xs-12 col-sm-6">
              <div class="item">
                <p class="text-answer" ng-bind-html="answer.answer">
                  <span>{{$index+1|character}}.</span>
                  {{answer.answer}}
                </p>
                <button class="btn btn-submit"
                  ng-class="{'btn-info': $index === quiz.dataService.JSONQuizData[quiz.activeQuestion].selected}"
                  ng-click="quiz.questionAnswered($index); quiz.resetScrollBarPosition()">
                    Submit
                </button>
              </div>
            </li>

            <li class="clearfix" ng-if="$index % 2 == 1"></li>

          </ul>

          <ul class="answer"
            ng-if="quiz.dataService.JSONQuizData[quiz.activeQuestion].type === 'image'"
            ng-repeat="answer in quiz.dataService.JSONQuizData[quiz.activeQuestion].possibilities">

            <li class="col-xs-12 col-sm-6">
              <p class="image-answer"> 
                <img ng-src="{{answer.answerImage}}">
              </p>
              <div class="item">
                <p class="text-answer" ng-bind-html="answer.answer">
                  <span>{{$index+1|character}}.</span>
                <p>
                <button class="btn btn-submit"
                  ng-class="{'btn-info': $index === quiz.dataService.JSONQuizData[quiz.activeQuestion].selected}"
                  ng-click="quiz.questionAnswered($index); quiz.resetScrollBarPosition()">
                    Submit
                </button>
              </div>
            </li>

            <li class="clearfix" ng-if="$index % 2 == 1"></li>

          </ul>

          <ul class="answer"
            ng-if="quiz.dataService.JSONQuizData[quiz.activeQuestion].type === 'image-text'"
            ng-repeat="answer in quiz.dataService.JSONQuizData[quiz.activeQuestion].possibilities">

            <li class="col-xs-12 col-sm-6">
              <p class="imagetext-answer">
                <img ng-src="{{answer.answerImage}}">
              </p>
              <div class="item">
                <p class="text-answer" ng-bind-html="answer.answer">
                  <span>{{$index+1|character}}.</span>
                  {{answer.answer}}
                </p>
                <button class="btn btn-submit"
                  ng-class="{'btn-info': $index === quiz.dataService.JSONQuizData[quiz.activeQuestion].selected}"
                  ng-click="quiz.questionAnswered($index); quiz.resetScrollBarPosition()">
                    Submit
                </button>
              </div>
            </li>

            <li class="clearfix" ng-if="$index % 2 == 1"></li>

          </ul>

        </div>

      </div>

      </div><!-- QUIZ CONTROLLER -->

      <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive" class="results">

        <div class="header-toolbar">
          <p class="retry"
            ng-click="results.reset()">
            <span>&#60;</span>Try again
          </p>

          <p class="result">Result</p>
        </div>

        <div class="progress-toolbar">
          <button class="btn btn-progress"
            ng-repeat="question in results.dataService.JSONQuizData">
          </button>
        </div>

        <div class="diagnostic-result" data-ng-repeat="score in results.dataService.JSONDiagnosticResult | filter:results.calculateDiagnosticScore()">
          <div class="inner-container">
            <div class="result">
              <p class="heading" ng-bind-html="score.title">{{score.title}}</p>
              <img ng-src="{{score.image}}">
              <p class="description" ng-bind-html="score.description">{{score.description}}</p>
            </div>
          </div>
        </div>

      </div><!-- RESULTS CONTROLLER -->

    </div>
  
  <p id="jsonURL" title="HTMLResources/json/quiz-data.json">
    
</div>