//colours
$white: #ffffff;
$black: #000000;
$blue: blue;
$greyDark: #666666;
$orange: #ef7c00;
$pink: #ff0099;
$pinkTint: #e5007d;
$purple: #8c0d59;
$grey: #cccccc;

//mixins
@mixin font-smoothing($value: antialiased) {
  -webkit-font-smoothing: $value;
  -moz-osx-font-smoothing: grayscale;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
	-moz-animation: #{$animation};
	-ms-animation: #{$animation};
	animation: #{$animation};
}
  
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}